################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/obj/Debug
/basedatossted.dbmdl
/basedatossted.jfm
/.vs/basedatossted/v17/.suo
/.vs/basedatossted/FileContentIndex/020bd753-0b77-4598-bbab-71f87d37d145.vsidx
